* {
  text-align: center;
}

body {
  background-color: aquamarine;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(199, 6, 6, 0.886);
  color: aliceblue;
  font-weight: 700;
}

button:hover {
  background-color: rgb(237, 70, 9);
  transform: scale(1.09);
  transition: all 0.3s ease-in-out;
}

li {
  margin-top: 5px;
  background-color: rgb(42, 126, 165);
  color: aliceblue;
  font-size: 20px;
  list-style: none;
  padding: 5px;
}
ol {
  padding: 0 !important;
}
